<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni autem nesciunt dolor dolores sunt perferendis mollitia laboriosam dolorum ratione rerum?</p>
    </div>
</section>