
<div class="jumbotron">
    <h1 class="display-4"> Notes App Nodejs-Mongobd</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe doloremque in harum aut id suscipit error voluptatibus assumenda magnam temporibus, autem quas placeat, aliquam quia veritatis incidunt nisi omnis. Vitae maxime itaque id maiores?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero ea suscipit distinctio tenetur beatae voluptatibus hic delectus. Perspiciatis, eum cumque?</p>
    <a href="https://youtube.com" class="btn btn-primary">Youtube</a>
</div>

