{{#if success_msg}}

<div class="alert alert-success alert-dismissible fade show">
    <strong> {{success_msg}} </strong>
    <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
</div>
{{!-- se crea el botón para cerrar el cuadro de dialogo, ell &times es para mostrar una x de cerrar --}}

{{/if}}
